@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Skranji:wght@400;700&display=swap");

:root {
  /* Brand Colors */
  --primary: #0f5c01;
  --primary-dark: #2d9003;
  --primary-accent: #8cdf69;
  --primary-white: #fefafa;

  /* Text Colors */
  --text-light: #ffffff;
  --text-accent: aqua;
  --text-green: rgb(17, 232, 17);

  /* Backgrounds */
  --bg-dark: #000000;
  --bg-grey: #4f4f4f;
  --bg-purple-dark: #0e012a;
  --bg-white-dark: #fff;

  /* Gradients */
  --gradient-hero: linear-gradient(65deg, var(--bg-grey), var(--bg-dark));
  --gradient-feature: linear-gradient(
    90deg,
    var(--bg-dark),
    var(--bg-purple-dark)
  );
  --gradient-primary: linear-gradient(
    65deg,
    var(--primary),
    var(--primary-dark)
  );

  /* UI Elements */
  --border-light: rgba(255, 255, 255, 0.15);
  --card-bg: rgba(255, 255, 255, 0.05);

  /* Animation & Effects */
  --glow: 0 0 18px rgba(255, 255, 255, 0.1);
}

.light-theme {
  /* Gradients */
  --gradient-hero: linear-gradient(65deg, var(--bg-white-dark), var(--bg-dark));
  /* Brand Colors */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* The header section styles */

.header-section {
  min-height: 90vh;
  background: var(--gradient-hero);
  background-size: 200% 200%;
  animation: pulse 6s infinite alternate;
}

@keyframes pulse {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.navbar {
  display: flex;
  margin: 0px 5.5rem;
  padding: 1rem 1rem;
  justify-content: space-between;
}
.navbar .logo img {
  object-fit: cover;
  margin-left: 50px;
}
.nav-content {
  display: flex;
  gap: 1.5rem;
  padding: 2rem 2rem;
}
.nav-links {
  display: flex;
  list-style: none;
}
.nav-links li a {
  color: var(--primary-white);
  text-decoration: none;
  margin-left: 1.5rem;
  font-family: "Sansation";
  font-weight: bold;
}
.nav-links li a:hover {
  color: var(--primary-accent);
}
.menu-buttons a {
  color: var(--primary-white);
  text-decoration: none;
  font-family: "sansation";
  font-weight: bold;
}

.menu-buttons .login-btn {
  text-decoration: none;
  border: 2px solid var(--primary-white);
  border-radius: 8px;
  background-color: transparent;
  padding: 10px 30px;
  margin-right: 10px;
}

.menu-buttons .login-btn:hover {
  background: var(--gradient-primary);
  transform: scale(1.05);
  border: none;
}

.menu-buttons .signup-btn {
  text-decoration: none;
  border: 2px solid var(--primary-accent);
  border-radius: 8px;
  background: var(--gradient-primary);
  padding: 10px 30px;
}

.menu-buttons .signup-btn:hover {
  transform: scale(1.05);
  border: none;
}

/* Device responsiveness on mobile */

@media screen and (max-width: 768px) {
  .header-section {
    min-height: 120vh;
    background: var(--gradient-hero);
  }
  .navbar {
    /* grid-area: 1 / span 6; */
    margin: 0px;
    justify-content: center;
    display: block;
  }

  .nav-content {
    display: block;
    margin-top: 1.5rem;
    justify-content: center;
    line-height: 2rem;
  }
  .nav-links {
    display: block;
  }
  .menu-buttons a {
    color: var(--primary-white);
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }
}
@media screen and (max-width: 980px) {
  .navbar {
    /* grid-area: 1 / span 6; */
    margin: 0px 0px;
    justify-content: center;
    display: block;
  }

  .nav-content {
    display: block;
    margin-top: 1.5rem;
    justify-content: center;
    line-height: 2rem;
  }
  .nav-links {
    display: block;
  }
  .menu-buttons a {
    color: var(--primary-white);
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }
}

/* End of The header section styles */

/* the hero section */

.hero {
  padding: 0px 9rem;
  margin-top: 30px;
}
.hero-contents {
  display: flex;
  flex-direction: row;
}
.hero-content-one {
  padding: 20px 1rem;
}
.title {
  font-size: 50px;
  color: var(--primary-white);
  font-family: "Skranji";
  line-height: 8rem;
}
.sub-title {
  color: var(--primary-dark);
  font-size: 30px;
  font-family: "roboto";
  font-weight: 900;
}
.sub-title span {
  color: var(--text-accent);
  font-size: 30px;
  font-family: "roboto";
  font-weight: 900;
}
.texts p {
  color: var(--text-light);
  font-family: "sansation";
  font-size: 18px;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

/* the content image slider */

.hero-content-two {
  width: 500px;
  height: 400px;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.45);
}

/* Track that moves */
.slider-track {
  display: flex;
  width: 200%; /* 2 images = 200% */
  animation: slide 8s infinite ease-in-out;
}

/* Each slide */
.slider {
  width: 100%;
}

.hero-content-two img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(0);
  }

  55% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* resoponsiveness on tablets and phones */

@media screen and (max-width: 990px) {
  .hero {
    margin: 0px;
  }
  .hero-contents {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    margin: 0px;
    padding: 0rem;
  }
  .hero-contents {
    display: flex;
    justify-content: center;
    margin: 0px 0px;
    flex-direction: column;
  }
  .hero-content-two img {
    border-image: cover;
    border-radius: 14px;
  }
}

/* need for some adjustments up the hero and menue itmes mainly in terms of responsivenss */

/* the feature section stylings */

.feature {
  height: 70vh;
  background: var(--gradient-feature);
  width: 100%;
}
.feature-contents .feature-title {
  color: var(--bg-white-dark);
  text-align: center;
  font-family: "sansation";
  padding: 3rem 2rem;
  font-size: medium;
}

.feature-cards {
  padding: 0rem 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  text-align: center;
}
.feature-cards .cards {
  justify-content: center;
}
.card {
  background: var(--card-bg);
  border: 1px solid var(--border-light);
  border-radius: 8px;
  color: var(--text-light);
  transition: all 0.4s ease;
  cursor: pointer;
  backdrop-filter: blur(10px);
  padding: 30px;
  height: 300px;
}

.card:hover {
  border: 2px solid var(--primary-dark);
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.45);
}

/* the responsiveness of the feature section */

@media (max-width: 990px) {
  .feature {
    height: auto;
    background: var(--gradient-feature);
    width: 100%;
  }
}

@media (max-width: 768px) {
  .feature {
    height: auto;
    background: var(--gradient-feature);
    width: 100%;
  }
  .feature-cards {
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    text-align: center;
  }
}

/* footer styling trials */

.footer-section {
  background-color: #000000;
  padding: 4rem 10rem;
  position: relative;
  overflow: hidden;
}
.footer-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("https://www.transparenttextures.com/patterns/stardust.png");
  /* animation:stars 8s linear infinite; */
  z-index: 0;
}
@keyframes stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 500px 500px;
  }
}

.footer-container {
  color: var(--text-light);
  font-family: "sansation";
  position: relative;
  z-index: 1;
}
.container-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 4rem;
}
.line hr {
  margin-bottom: 2rem;
}
hr {
  background-color: #2d9003;
  height: 1px;
  border: var(--primary);
}
.container-2 h6 {
  opacity: 0.5;
}

.content .logo {
  height: 80px;
  position: relative;
  padding-bottom: 40px;
}
.content .logo img {
  height: inherit;
  object-fit: cover;
}
.content {
  border-radius: 8px;
}
.content h3 {
  color: var(--primary-dark);
}
.content span {
  font-size: 14px;
}

.footer-menu {
  list-style: none;
}

.footer-title h3 {
  margin-bottom: 1.5rem;
  color: var(--primary-dark);
}
.content .footer-menu li a {
  text-decoration: none;
  line-height: 2rem;
  color: var(--text-light);
}
.content .footer-menu li a:hover {
  text-decoration: none;
  line-height: 2rem;
  color: var(--primary-accent);
  text-decoration: underline;
}
.content p {
  margin-top: 2rem;
  line-height: 1rem;
  font-size: small;
}

.newletter-form {
  margin: 20px 0px;
}

.newletter-form form input {
  padding: 6px;
  width: 11rem;
  border: 2px solid var(--primary-dark);
  background-color: transparent;
  border-radius: 4px;
  color: var(--primary-white);
  font-weight: 200;
}
.submit-newsletters {
  background-color: var(--primary-dark);
  padding: 6.2px;
  border: 2px solid var(--primary-dark);
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 990px) {
  .footer-section {
    background-color: #000000;
    padding: 1rem 4rem;
    position: relative;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .footer-section {
    background-color: #000000;
    padding: 1rem 2rem;
    position: relative;
    overflow: hidden;
  }
}
